doctype html
html(lang="en")
	head
		title!=name
		link(rel="stylesheet",href="/css/#{name}.css")
		script(src="/js/#{name}.min.js")
	body
		div#welcome
			h1 Welcome to #{name}.
			p.
				#{name} is a game you play with friends 
				wherein you each write a few words to the end of an ever-growing
				story. Select a story to begin.
			button.dismiss Sounds Good!